/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange ;
  color: blue;
  padding: 20px 30px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: blue;
    text-decoration: none;
    font-weight: normal;
    transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #d1e8ff;
}

.user-name {
    font-size: medium;
    font-weight: 20px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 160px;
    background: white;
}

.hero-left button {
    background: lightslategray;
    color: white;
    border: none;
    padding: 20px 50px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
    transition: background 0.3s ease;
}

.hero-left button:hover {
    background: skyblue;
}

.hero-right img {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 300px;
    height: 250px;
}


