body {
    font-family: Arial, sans-serif;
    background: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 40px;
    margin-bottom: 110px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
}

.box {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #ccc;
    transition: 0.3s;
}

.box:hover {
    transform: scale(1.05);
}

input {
    font-size: 16px;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

button {
    font-size: 16px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 15px;
    margin-top: 50px;
}

button:hover {
    background: orange;
}